Reset some default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgba(95, 158, 160, 0.555);
}
/* Style the navbar */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 5rem;
}
.logo img{
    max-width: 60px;
    border-radius: 50px;
}

/* Style the logo */
.logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Style the search container */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px 10px;
    border: none;
    width: 250px;
    height: 3rem;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 3rem;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 15ch;
    font-size: 20px;
}

.search-container button:hover {
    background-color: #0056b3;
}


.weather-container {
    background-color: #35d2dd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 10px auto;
}
.weather-container:hover{
    box-shadow: rgba(223, 82, 187, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(158, 95, 95, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.location h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.current-weather img {
    width: 100px;
    margin: 10px;
}

.current-weather h2 {
    font-size: 36px;
    margin: 10px;
}

.weather-details p {
    font-size: 16px;
    margin: 5px 0;
}

.weather-details p:first-child {
    font-weight: bold;
}

.weather-card-container {
    /* margin-top: 150px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Create 7 columns */
    gap: 25px; /* Add some spacing between cards */
    max-width: 1400px;
    margin: 15px auto;
}

.weather-card {
    background-color: #2fe48a;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}
.weather-card:hover{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: scale(1.2);
    transition: 0.5s;
    background-color: #3877ec;
}

.day {
    font-size: 18px;
    margin-bottom: 5px;
}

.icon img {
    width: 50px;
}

.temperature {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}





@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .search-container {
        flex-direction: column;
        text-align: center;
    }

    .search-container input {
        width: 100%;
        margin-right: 0;
    }

    .search-container button {
        width: 100%;
    }

    .weather-card-container {
        grid-template-columns: repeat(1, 1fr); /* Still a single column for smaller screens */
        padding: 0px 15px;
        max-width: 80%;
    }
}